@page :left {
  @top-left {
    content: '　';
    margin-left: 7pt;
    margin-top: 8.5mm;
    writing-mode: horizontal-tb;
  }
}

@page :right {
  @top-right {
    content: '　';
    margin-right: 7pt;
    margin-top: 8.5mm;
    writing-mode: horizontal-tb;
  }
}